.list-group-item.active {
    background-color: #132600 !important;
    border-color: #132600 !important;
}

.list-group-item.active:hover {
    color: #247700;
}

.sorte-biere {
    color: black;
}

.sorte-biere:hover {
    background-color: #247700;
    color: white;
}

.select2-selection {
    height: 40px !important;
    text-align: center;
}

.select2-container {
    height: 40px;
}

#select2-selecteur-sous-sorte-container {
    height: 40px;
    padding-top: 5px;
}

.select2-selection__arrow {
    margin-top: 5px;

}

#bouton-rechercher {
    height: 40px;
    width: 40px;
}

.en-tete-recherche {
    min-height: 50px;
}

.barre-recherche {
    width: 50%;
}

@media (max-width: 992px) {
    .barre-recherche {
        width: 100%;
    }
}

#barre-recherche-container > .select2-container {
    width: 100% !important;
}

.bouton-ajout-panier {
    background-color: #132600;
}

.bouton-ajout-panier:hover {
    background-color: #247700;
}
