{% extends "base.html" %}

{% block titre %}Accueil{% endblock %}

{% block container %}
    {% if model['utilisateur_courant'].prenom %}
        <h1>Bonjour {{ model['utilisateur_courant'].prenom }}!</h1>
        <a href="/deconnexion">Deconnexion</a>

    {% else %}
        <h1>Bonjour cher visiteur!</h1>
        <a href="/connexion">Connexion</a>
    {% endif %}

    {% if model['message_reussite'] %}
        <h3 style="color: green">{{ model['message_reussite'] }}</h3>
    {% endif %}

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="../static/js/accueil.js"></script>
{% endblock %}

