<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Recherche pour 'nomdelarecherche': 'Nombrederésultats' résultats</title>


    <link href="../static/css/affichage.css" rel="stylesheet">

</head>

<body>


    <div id="wrapper">
        <nav class="navbar navbar-inverse bg-dark">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Bière Québec</a>
                </div>
             <a class="nav navbar-nav">
                <a class="active"><a href="#">Accueil</a></li>
                <li><a href="#">Bières</a></li>
                <li><a href="#">Microbrasseries</a></li>
                <li><a href="#">Nous contacter</a></li>
             </a>
                <form class="navbar-form navbar-left" action="/affichage">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Valider</button>
                    </form>
            </div>
        </nav>

        <!-- Barre de navigation-->
         <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                {% for id, nom in sorte %}
                    <li>
                        <a href="#"> {{ nom }} </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <!--Affichage des bières-->
        <div id="page-principale">
            <div class="container-fluid">
                <h1>Recherche pour 'nomdelarecherche': 'Nombrederésultats' résultats</h1>
            </div>
        </div>

    </div>

<script src="../static/dist/bundle.js"></script>



</body>

</html>