{% extends "base.html" %}

{% block titre %}Les bieres{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="../static/css/bieres.css">
{% endblock %}

{% block container %}
    <div class="row my-3">
        <div class="col-lg-3 my-1">
            <div class="row en-tete-recherche">
                <div class="col-lg-12">
                    <h2 class="mb-0">Sortes de bieres</h2>
                </div>
            </div>
            <div class="list-group mb-4">
                <a href="/bieres" class="list-group-item sorte-biere {{ 'active' if not id_sorte }}">Toutes les
                    sortes</a>
            </div>
            <div class="list-group">
                {% for sorte in sortes %}
                    <a href="/bieres?id_sorte={{ sorte.id }}"
                       class="list-group-item sorte-biere {{ 'active' if sorte.id == id_sorte }}">{{ sorte.nom }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-9 my-1">
            <div class="row en-tete-recherche">
                <div class="col-lg-12">
                    <div class="float-right barre-recherche">
                        <form action="/bieres">
                            <input type="hidden" name="id_sorte" value="{{ id_sorte }}">
                            <div style="display: flex">
                                <div style="flex-grow: 1; padding-right: 8px;" id="barre-recherche-container">
                                    <select id="selecteur-sous-sorte" name="id_sous_sorte" class="barre-recherche">
                                        {% for sous_sorte in sous_sortes %}
                                            <option value="{{ sous_sorte.id }}" {{ 'selected' if sous_sorte.id ==  id_sous_sorte }}>{{ sous_sorte.nom }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div>
                                    <button id="bouton-rechercher" type="submit" class="btn btn-success"><i
                                            class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for biere in bieresdispo %}
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="#" class="text-center"><img class="card-img-top" style="max-height: 180px; width: auto; margin: 0 auto" src="{{ biere.image_url }}" alt=""></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="/consulter-biere?id_biere={{ biere.id }}">{{ biere.bnom }}</a>
                                </h4>
                                <h5>{{ biere.snom }}</h5>
                                <h6> Degré d'alcool: {{ biere.pa }}% IBU: {{ biere.ibu }}</h6>
                                <p class="card-text"></p>
                                <h6> {{ biere.prix }} $</h6>
                            </div>
                            <div class="card-footer">
                                <form class="ajout-biere-panier" method="post" action="/ajouter-au-panier">
                                    <div class="row">
                                        <input type="hidden" name="id_biere" value="{{ biere.id }}">
                                        <input type="hidden" class="redirect-url" name="redirect_url">
                                        <div class="col-4 p-0 text-center">
                                            <div style="display: table; height: 100%; margin: 0 auto">
                                                <label class="mb-0" style="display: table-cell; vertical-align: middle">Quantité
                                                    :</label>
                                            </div>
                                        </div>
                                        <div class="col-4 p-0 text-center">
                                            <input class="form-control text-center" type="number" name="quantite"
                                                   min="1" value="1">
                                        </div>
                                        <div class="col-4 p-0 text-center">
                                            <button type="submit" class="btn bouton-ajout-panier">
                                                <i style="color: white" class="fa fa-fw fa-cart-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="../static/js/bieres.js"></script>
{% endblock %}
