<head>
</head>
<body>

<form id="connexion_form" method="post" action="/connexion">
    <div>
        <label for="courriel"><b>Courriel</b></label>
        <input type="text" placeholder="Entrer votre adresse courrie;" id="courriel" name="courriel">
    </div>
    <div>
        <label for="mot_de_passe"><b>Mot de passe</b></label>
        <input type="password" placeholder="Entrer votre mot de passe" id="mot_de_passe" , name="mot_de_passe">
    </div>
    <div>
        <button type="submit">Login</button>
        {% if message_erreur %}
            <label>{{ message_erreur }}</label>
        {% endif %}
    </div>
</form>

</body>