{% extends "base.html" %}

{% block titre %}Connexion{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" id="bootstrap-css" href="../static/css/login.css">
{% endblock %}

{% block container %}
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <form id="connexion_form" method="post" action="/connexion">
                <div class="row">
                    <div class="col-12 mt-5">
                        {% if message_erreur %}
                            <label style="color: red">{{ message_erreur }}</label>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <input class="form-control" type="text" placeholder="Adresse courriel" id="courriel"
                               name="courriel">
                    </div>
                </div>
                <div class="row mt-3 mb-3">
                    <div class="col-12">
                        <input class="form-control" type="password" placeholder="Mot de passe" id="mot_de_passe" ,
                               name="mot_de_passe">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        <button class="btn btn-default btn-block bouton-connexion" type="submit">Login</button>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-6">
                        <a href="#">Mot de passe oublié</a>
                    </div>
                    <div class="col-6 text-right">
                        <a href="#">S'inscrire</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-3"></div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="../static/js/login.js"></script>
{% endblock %}
