{% extends "base.html" %}

{% block titre %}Les microbrasseries{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" id="bootstrap-css" href="../static/css/bieres.css">
{% endblock %}

{% block container %}
    <div class="row my-3">
       <div class="col my-1">
           <div class="list-group">
               {% for micros in micro %}
               <a href="/Microbrasserie?id_microbrasserie={{ micros.id_utilisateur }}"></a>
                   <div class="col-lg-6 md-8 mb-4">
                        <div class="card h-100">
                            <a href="#"><img class="card-img-top" src="http://placehold.it" alt=""></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="#">{{ micros.nom }}</a>
                                </h4>
                                <h5>{{ micros.emplacement }}</h5>
                            </div>
                        </div>
                   </div>
               {% endfor %}
           </div>
       </div>
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="../static/js/bieres.js"></script>
{% endblock %}
