{% extends "base.html" %}

{% block titre %}Nous Contacter{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" id="bootstrap-css" href="../static/css/bieres.css">
{% endblock %}

{% block container %}
    <table id="cart" class="table table-hover table-condensed">
        <thead>
        <tr>
            <th style="width:50%">Bière</th>
            <th style="width:10%">Prix</th>
            <th style="width:8%">Quantité</th>
            <th style="width:22%" class="text-center">Sous-total</th>
            <th style="width:10%"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td data-th="Bière">
                <div class="row">
                    <div class="col-sm-2 hidden-xs"><img src="http://placehold.it/100x100" alt="..."
                                                         class="img-responsive"/></div>
                    <div class="col-sm-10">
                        <h4 class="nomargin">Nom</h4>
                        <p>Type, Provenance</p>
                    </div>
                </div>
            </td>
            <td data-th="Prix">Prix</td>
            <td data-th="Quantity">
                <input type="number" class="form-control text-center" value="1">
            </td>
            <td data-th="Sous-total" class="text-center">Prix</td>
            <td class="actions" data-th="">
                <button class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button>
                <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr class="visible-xs">
            <td class="text-center"><strong>Total (Montant final) $</strong></td>
        </tr>
        <tr>
            <td><a href="#" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continuer à magasiner</a></td>
            <td colspan="2" class="hidden-xs"></td>
            <td class="hidden-xs text-center"><strong>Total (Montant) $</strong></td>
            <td><a href="#" class="btn btn-success btn-block">Passer à la caisse <i class="fa fa-angle-right"></i></a>
            </td>
        </tr>
        </tfoot>
    </table>
{% endblock %}


{% block scripts %}
    {{ super() }}
    <script src="../static/js/panier.js"></script>
{% endblock %}