{% extends "base.html" %}

{% block titre %}Votre panier{% endblock %}

{% block head %}
    {{ super() }}
    {#
    <link rel="stylesheet" id="bootstrap-css" href="../static/css/bieres.css">
#}
{% endblock %}

{% block container %}
    {% if model['message_erreur'] %}
        <h4 style="color: red">{{ model['message_erreur'] }}</h4>
    {% endif %}
    <table id="cart" class="table table-hover table-condensed">
        <thead>
        <tr>
            <th style="width:50%">Bière</th>
            <th style="width:10%">Prix</th>
            <th style="width:8%">Quantité</th>
            <th style="width:22%" class="text-center">Sous-total</th>
            <th style="width:10%"></th>
        </tr>
        </thead>
        <tbody>
        {% for id, biere in model['utilisateur_courant']['panier'].items() %}
            <tr>
                <td data-th="Bière">
                    <div class="row">
                        <div class="col-sm-4 hidden-xs text-center"><img src="{{ biere.image_url }}" alt="..."
                                                                         class="img-responsive"
                                                                         style="max-height: 100px;"/></div>
                        <div class="col-sm-8">
                            <h4 class="nomargin"> {{ biere.bnom }}</h4>
                            <p>{{ biere.snom }},{{ biere.mnom }}</p>
                        </div>
                    </div>
                </td>
                <td data-th="Prix">{{ biere.prix }} $</td>
                <td data-th="Quantity">
                    <input type="number" min="0" class="form-control text-center input-quantite"
                           value="{{ biere.quantite }}">
                </td>
                <td data-th="Sous-total" class="text-center">{{ biere.prix * biere.quantite }} $</td>
                <td class="actions" data-th="">
                    <form class="update-panier" action="/update-panier" style="display: inline">
                        <input type="hidden" name="id_biere" value="{{ id }}">
                        <input class="quantite" type="hidden" name="quantite" value="{{ biere.quantite }}">
                        <button type="submit" class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button>
                    </form>
                    <form class="update-panier" action="/update-panier" style="display:inline;">
                        <input type="hidden" name="id_biere" value="{{ id }}">
                        <input type="hidden" name="quantite" , value="0">
                        <button type="submit" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td><a href="/bieres" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continuer à magasiner</a>
            </td>
            <td colspan="2" class="hidden-xs text-center">
                <strong>Bières: {{ model['utilisateur_courant']['nombre_bieres'] }}</strong></td>
            <td class="hidden-xs text-center"><strong>Total: {{ model['total_panier'] }} $</strong></td>
            <td><a href="/checkout-panier" class="btn btn-success btn-block">Passer la commande <i class="fa fa-angle-right"></i></a>
            </td>
        </tr>
        </tfoot>
    </table>
{% endblock %}


{% block scripts %}
    {{ super() }}
    <script src="../static/js/panier.js"></script>
{% endblock %}